@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    /* 필기체 */
    /* font-family: 'Fasthand', cursive; */

    /* 굵은폰트 */
    /* font-family: 'Poppins', sans-serif; */

    /* 이쁜 영어 */
    /* font-family: 'Abril Fatface', cursive; */

    /* 숫자 */
    /* font-family: 'Cormorant Garamond', serif; */
    
    /* 나눔 */
    /* font-family: 'NanumSquareNeoLight';
    font-family: 'NanumSquareNeo';
    font-family: 'NanumSquareNeoBold';
    font-family: 'NanumSquareNeoExtraBold';
    font-family: 'NanumSquareNeoHeavy'; */
}
html,body{
    background-color: #fbfbe6;
    cursor: none;
}
a:hover,
div:hover,
button:hover,
img:hover{
    cursor: none;
}
.cursor_dot{
    width: 5px;
    height: 5px;
    background-color: black;
}
.cursor_outline{
    width: 30px;
    height: 30px;
    border: 2px solid hsla(0, 0%, 18%, 0.5);
}
.cursor_dot,
.cursor_outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50% - 50%);
    border-radius: 50%;
    z-index: 99999;
    pointer-events: none;
}
a{
    font-family: 'NanumSquareNeoBold';
}
section{
    height: 100vh;
}
.container{
    margin: 0 auto;
    padding: 0;
}

/* nav */
#nav{
    backdrop-filter: blur(5px);
    height: 70px;
}
#nav .nav,
#nav .nav > li,
#nav .nav > li > a{
    padding: 0;
    margin: 0;
}
#nav .nav > li > a{
    width: 100px;
    line-height: 70px;
    text-align: center;
}
/* first-page */
.y_logo{
    font-family: 'Fasthand', cursive;
    /* color: #004cff; */
    color: #09383E;
    font-size: 40px;
}
#main{
    position: relative;
    overflow: hidden;
}
#main .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.first_page_title{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 99;
}
.first_page_title .title_bold{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 300px;
    text-align: center;
    letter-spacing: 5px;
    line-height: 80%;
    color: transparent;
    -webkit-text-stroke: 4px #2b7799;
    top: calc(50% - 240px);
    position: relative;
}
.sub_title > svg{
    position: absolute;
    top: -100px;
    stroke: #2b7799;
    stroke-width: 3px;
}
.title_back{
    position: absolute;
    /* background: radial-gradient(circle, rgba(245,227,105,1) 0%, rgba(252,70,107,0) 70%); */
    background-color: #efdb5e;
    filter: blur(60px);
    width: 1300px;
    height: 700px;
    border-radius: 50%;
    top: 150px;
    right: -600px;
}

.sub_title path{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: titlePath 8s linear infinite;
}

@keyframes titlePath{
    to{
        stroke-dashoffset: -1000;
    }
}
/* #y{
    animation-delay: 0.8s;
} */


/* 자기소개 */
.title_wrap{
    display: flex;
    margin: 30px;
}
.title_wrap .title_num{
    position: relative;
    line-height: 91px;
    font-size: 40px;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 20px;
}
.title_wrap .title_line{
    display: block;
    height: 80px;
    width: 2px;
    border: solid 1px #000;
    margin: 10px 30px;
    margin-top: 15px;
}
.title_wrap h2{
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 2px;
    text-transform: capitalize;
}

#about{
    height: 165vh;
    overflow: hidden;
}

#about .container-fluid{
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
#about .content-row{
    width: 50%;
}
#about .about_wrap{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
#about .about_hello{
    position: absolute;
    right: 450px;
    top: -120px;
}
#about .about_hello p{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 70%;
    -webkit-text-stroke: 1px #09383E;
    color: transparent;
}
#about .about_hello p:last-child{
    color: #09383E;
}
#about .about_hello p:nth-child(2){
    -webkit-text-stroke: 1px #09383e59;
}
#about .about_hello p:first-child{
    -webkit-text-stroke: 1px #09383e2c;
}
#about .about_line_wrap{
    width: 450px;
    height: 450px;
    position: relative;
}
#about .img_outline{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: solid 1px #2b7799;
    position: absolute;
    background-color: #fbfbe6;
    top: 0;
    left: 0;
    z-index: 1;
}
#about .img_inline{
    width: 410px;
    height: 410px;
    border-radius: 50%;
    border: solid 1px #efdb5e;
    top: 20px;
    left: 20px;
    position: absolute;
}
#about .img_inline img{
    width: 380px;
    height: 380px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 15px;
}
#about .outline_left{
    width: 20px;
    height: 20px;
    color: #fbfbe6;
    background-color: #efdb5e;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    left: -10px;
}
#about .outline_left::after,
#about .outline_right::after{
    content: "";
    height: 40px;
    background-color: #fbfbe6;
    display: block;
    position: relative;
    z-index: -1;
    top: -10px;
}
#about .outline_right{
    width: 20px;
    height: 20px;
    background-color: #efdb5e;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -10px;
}
#about .about_discription{
    width: 120%;
    height: 250px;
    position: relative;
    top: 100px;
    left: -70px;
    border: solid 1px #000;
    border-radius: 0 50px 50px 0;
    /* z-index: -1; */
}
#about .about_discription p{   
    text-align: center;
    line-height: 100px;
}
#about .about_inner_wrap{
    margin-top: 30px;
}
#about .about_inner_wrap2{
    position: relative;
    left: 150px;
    width: 600px;
    text-align: end;
}

#about .about_inner_wrap2 li{
    display: flex;
    line-height: 50px;
    justify-content: end;
}
#about .about_inner_wrap2 li strong{
    width: 50%;
    font-family: 'NanumSquareNeoExtraBold';
    font-size: 15px;
}
#about .about_inner_wrap2 li p{
    width: 50%;
    line-height: 50px;
    text-align: end;
    font-family: 'NanumSquareNeoLight';
    font-size: 15px;
}

#about .qr1{
    text-align: center;
}
#about .qr1 img{
    width: 80px;
}
#about .qr_wrap{
    width: 600px;
    margin-left: 100px;
    margin-top: 60px;
}
#about .qr_wrap ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
#about .qr_wrap ul li{
    width: 200px;
    border-left: 1px solid #ccc;
}
#about .qr_wrap ul li:first-child{
    border: none;
}
#about .qr1 p{
    font-family: 'NanumSquareNeo';
    font-size: 14px;
    line-height: 30px;
}
#about .qr1 p a:hover{
    color: #2b7799;
}

/* about 두번째 색션 */
#about .career{
    margin-top: 100px;
    position: relative;
}
#about .career_1,
#about .career_2{
    display: flex;
    height: 450px;
}
#about .career_1 > div{
    width: 50%;
    position: relative;
}

#about .career_2 > div{
    width: 33.33%;
    position: relative;
}
#about .contact_wrap{
    left: -100px;
}
#about .contact_line,
#about .hard_skill_line,
#about .license_line,
#about .educations_line,
#about .experience_line{
    width: 90%;
    height: 40px;
    border: solid 1px #000;
    border-radius: 25px;
}
#about .contact_wrap > p,
#about .hard_skill_wrap > p,
#about .experience_wrap > p{
    position: absolute;
    top: -25px;
    right: 200px;
    font-size: 30px;
    background-color: #fbfbe6;
    width: 150px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    /* letter-spacing: 1px; */
}
#about .experience_wrap{
    right: -150px;
}
#about .about_inner_wrap3{
    display: flex;
}
#about .hard_skill_wrap{
    left: -50px;
}


/* 하드스킬 테스트 */
#about .hardskill_inner_wrap{
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}
#about .hardskill_inner_1{
    width: 40%;
}
#about .hardskill_inner_2{
    margin-left: 40px;
    width: 40%;
}
#about .hardskill_1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
}
#about .hardskill_1 p{
    line-height: 30px;
    font-family: 'NanumSquareNeoBold';
    font-size: 15px;
}
#about .dot_wrap{
    display: flex;
}
#about .dot_wrap .skill_dot{
    width: 15px;
    height: 15px;
    display: block;
    border: solid 1px #2b7799;
    border-radius: 50%;
    margin: 8px;

}
#about .dot_wrap .dot1,
#about .dot_wrap .dot2,
#about .dot_wrap .dot3{
    background-color: #2b7799;
}
#about .dot_fill_4 .dot4{
    background-color: #2b7799;
}
#about .dot_fill_5 .dot4,
#about .dot_fill_5 .dot5{
    background-color: #2b7799;
}


#about .license_wrap > p,
#about .educations_wrap > p{
    position: absolute;
    top: -25px;
    left: 100px;
    font-size: 30px;
    background-color: #fbfbe6;
    width: 200px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    /* letter-spacing: 1px; */
}


#about .license_wrap{
    left: 150px;
}
#about .license_inner li{
    display: flex;
    width: 500px;
    line-height: 40px;
}
#about .license_inner p{
    width: 50%;
    text-align: end;
    font-family: 'NanumSquareNeoLight';
    font-size: 15px;
    margin: 10px 0;
}
#about .license_inner > ul{
    position: relative;
    left: -40px;
}
#about .license_inner > ul > li > p:first-child{
    font-family: 'NanumSquareNeoBold';
}
#about .license_inner div p{
    width: 250px;
}
#about .experience_inner{
    position: relative;
    left: 330px;
    text-align: end;
    width: 200px;
}
#about .educations_inner{
    position: relative;
    left: 50px;
    width: 200px;
}
#about .experience_inner p,
#about .educations_inner p{
    font-family: 'NanumSquareNeoLight';
    font-size: 15px;
}
#about .experience_inner p:nth-child(2),
#about .educations_inner p:nth-child(2){
    margin-bottom: 30px;
}

#about .educations_wrap{
    right: -200px;
}



/* 데코 색션 */
#about .career_deco{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
#about .career_deco > div:nth-child(2){
    position: absolute;
    left: 42%;
    top: -12px;
    width: 60px;
    height: 60px;
    animation: decoRotate 3s infinite linear;
}
@keyframes decoRotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#about .deco_circle span:first-child{
    width: 50px;
    height: 50px;
    background-color: #2b7799;
    display: block;
    border-radius: 50%;
}
#about .deco_circle span:nth-child(2),
#about .deco_circle span:nth-child(3){
    width: 50px;
    height: 50px;
    border: solid 1px #2b7799;
    display: block;
    border-radius: 50%;
    position: relative;
    top: -20px;
}
#about .deco_circle span:nth-child(3){
    top: -40px;
}
#about .deco_circle{
    position: relative;
    left: 73%;
    top: 400px;
}
#about .deco_svg1{
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

#about .deco_1{
    left: 73%;
    top: 483px;
    z-index: 99;
}
#about .deco_3{
    left: 90%;
    top: -100%;
    animation: decoRotate 15s infinite reverse linear;
}
#about .deco_4{
    width: 100px;
    position: absolute;
    top: 30px;
    left: 40.9%;
}
#about .deco_5{
    left: 20%;
    top: -40px;
    z-index: -1;
}
#about .deco_6{
    left: 90%;
    top: 200%;
    width: 100px;
    z-index: -1;
}
#about .deco_8{
    top: 310px;
    left: 5.5%;
    width: 150px;
}


/* 포트폴리오페이지 */
#marquee{
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 400px;
    overflow-x: hidden;
    margin: 20px 0;
}
#marquee .track{
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 20s linear infinite;
}
#marquee .marquee_content{
    font-size: 100px;
    font-family: 'NanumSquareNeoLight';
    color: #2b7799;
}

#marquee .track2{
    position: absolute;
    top: 150px;
    white-space: nowrap;
    will-change: transform;
    animation: marquee2 20s linear infinite;
}
#marquee .marquee_content2{
    font-size: 100px;
    font-family: 'NanumSquareNeoLight';
    -webkit-text-stroke: 1px #2b7799;
    color: transparent;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
@keyframes marquee2 {
    from { transform: translateX(-50%); }
    to { transform: translateX(0); }
}
#portfolio{
    height: 250%;
}
/* #portfolio h2{
    text-align: start;
    font-family: 'NanumSquareNeo';
    letter-spacing: 2px;
    margin-left: 150px;
} */
#portfolio .container  > h2{
    font-size: 100px;
    color: rgba(0, 0, 0, 0.1);
    -webkit-text-stroke: 1px #000;
}
#portfolio .container{
    width: 100% ;
    position: relative;
}
#portfolio .portfolio_wrap{
    position: relative;
}
#portfolio .portfolio_wrap2{
    top: 500px;
    position: relative;
}
#portfolio .pot_title{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
#portfolio .img_wrap{
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: -85px;
    left: calc(50% - 35%);
}
#portfolio .portfolio_img{
    width: 100%;
    height: 700px;
}
#portfolio .portfolio_img img{
    width: 100%;
}

#portfolio .pot_dis1{
    position: absolute;
    top: 95%;
    margin: 0 4%;
    display: flex;
    flex-direction: row;
}
#portfolio .pot_dis1 p{
    font-family: 'NanumSquareNeoLight';
    font-size: 13px;
}

#portfolio .pot_dis1 span{
    font-size: 15px;
    font-family: 'NanumSquareNeoBold';
    margin-right: 30px;
}

#portfolio .pot_dis2{
    position: absolute;
    top: 68%;
    left: 95%;
    margin: 0 4%;
}
#portfolio .pot_dis2 button{
    width: 200px;
    margin-bottom: 20px;
    text-align: start;
    border: none;
    background-color: transparent;
}

.auto_scroll {
    padding: 4% 6%;
    margin: 0 auto;
    max-width: 1000px;
}
.viewport {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: #333;
}
.auto_scroll .viewport {
    transition: background-position 8s ease;
    background-position: 0 0;
    background-size: 100% auto;
    overflow: hidden;
    cursor: pointer;
}
.auto_scroll:hover .viewport {
    background-position: 0 100%;
}

.pot_top{
    width: 100%;
    background-color: transparent;
}
.pot_top h2{
    font-family: 'NanumSquareNeoLight';
    font-size: 20px;
    position: relative;
    top: 30px;
    left: calc(50% - 500px);
    width: 1000px;
    line-height: 50px;
    padding-left: 30px;
    color: #fff;
    background-color: #09383E;
    border-radius: 10px 10px 0 0;
    /* letter-spacing: 50px; */
    /* color: rgba(0, 0, 0, 0.03);
    -webkit-text-stroke: 1px #000; */
    position: relative;
}
#portfolio .img_wrap2{
    width: 1000px;
    margin: 0 auto;
    position: absolute;
    top: 80px;
    left: calc(50% - 500px);
    z-index: 99;
}
#marquee .marquee_content2{
    font-size: 80px;
    font-family: 'NanumSquareNeoLight';
    color: #fff;
}
#portfolio .portfolio_img2{
    width: 100%;
    height: 700px;
}
.pot_bottom{
    position: absolute;
    top: 780px;
    width: 1000px;
    left: calc(50% - 500px);
    margin: 0 auto;
    height: 130px;
    background-color: #09383E;
    border-radius: 0 0 10px 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.pot_bottom .p_bottom_1{
    margin-left: 30px;
}
.pot_bottom .p_bottom_1 > p{
    margin: 8px 0;
    padding: 0;
    font-family: 'NanumSquareNeoLight';
    font-size: 15px;
    position: relative;
}
.pot_bottom .p_bottom_1 > p > span{
    position: absolute;
    left: 100px;
    width: 500px;
}
.pot_bottom .p_bottom_2{
    position: relative;
    left: -20px;
}
.pot_bottom .p_bottom_2-1{
    left: -200px;
}
.p_bottom_2 button{
    background-color: transparent;
    border: solid 1px #fbfbe6;
    border-radius: 10px;
    color: #fbfbe6;
    margin: 5px;
    font-family: 'NanumSquareNeoLight';
}
.p_bottom_2 .p_bottom_btn{
    position: relative;
    top: 35px;
}
.p_bottom_2 button:hover{
    background-color: #fbfbe6;
}
.p_bottom_2 button:hover a{
    color: #09383E;
    font-family: 'NanumSquareNeoLight';
}
.p_bottom_2 button a{
    /* color: #efdb5e; */
    color: #fbfbe6;
    display: block;
    line-height: 35px;
    font-family: 'NanumSquareNeoLight';
}




/* renewal */
#renewal{
    width: 100%;
    height: 100vh;
    /* background-color: #2b7799; */
    background-color: #fbfbe6;
    overflow: hidden;
    padding: 0;
}
.project-title > h3 {
    font-weight: 300;
    font-family: 'NanumSquareNeoLight';
}
.renewal_cursor {
    position: absolute;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    background: url('./img/yeidam/re_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1; 
} 
.wrapper {
    width: 80%;
    margin: 70px auto;
    height: 100%;
}
.project {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    /* padding: 12px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-basis: 1; */
    height: 100px;
    position: relative;
    z-index: 2;
    color: white;
    mix-blend-mode: difference;
}
#renewal .renewal_thum_wrap1{
    position: absolute;
    top: 10px;
    left: 18.5%;
}
#renewal .renewal_thum_wrap2{
    position: absolute;
    top: 110px;
    left: 10%;
}
#renewal .renewal_thum_wrap3{
    position: absolute;
    top: 210px;
    left: 9%;
}
#renewal .renewal_thum_wrap4{
    position: absolute;
    top: 310px;
    left: 24%;
}
#renewal .renewal_thum_wrap1 img,
#renewal .renewal_thum_wrap2 img,
#renewal .renewal_thum_wrap3 img,
#renewal .renewal_thum_wrap4 img{
    height: 80px;
    opacity: 0.8;
}

.project-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.project-list{
    position: relative;
}
#renewal .project-title,
#react .project-title{
    margin-bottom: 10px;
}
#renewal .project-categ,
#react .project-categ{
    line-height: 95px;
    padding-right: 12px;
    width: 350px;
    text-align: end;
    z-index: 999;
    position: relative;
}
#renewal .project-categ button,
#react .project-categ button{
    border: none;
    background-color: transparent;
    z-index: 99;
    position: relative;
}
#renewal .project-categ button a,
#react .project-categ button a{
    color: #fff;
}
#renewal .project-categ button a:hover,
#react .project-categ button a:hover{
    color: #ef685e;
}
/* react */
#react{
    padding: 0;
    height: 650px;
}
#react .project-list{
    position: relative;
}
#react .react_thum_1{
    position: absolute;
    top: 10px;
    left: 20%;
}
#react .react_thum_2{
    position: absolute;
    top: 110px;
    left: 17%;
}
#react .react_thum_1 img,
#react .react_thum_2 img{
    height: 80px;
    opacity: 0.8;
}

#contact{
    background-color: #09383e9c;
    font-family: 'NanumSquareNeo';
}
#contact p{
    font-size: 15px;
}