@import url(https://fonts.googleapis.com/css?family=Oswald:400|Open+Sans:700);
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@font-face {
    font-family: 'MonoplexKRWideNerd-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-widenerd@1.0/MonoplexKRWideNerd-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SDSamliphopangche_Basic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    cursor: url(/img/yeidam/hi.png) 2 2, auto !important;
}

body{
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.25' numOctaves='2' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0' /%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E") center center / 512px repeat, #c7b1b1;
}


header {
    background-blend-mode: overlay;
    display: grid;
    grid: 100vh / 1fr;
    place-items: center;
}

svg {
    position: absolute;
    top: -20px;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: 1;  
}
#page-top{
    position: relative;
}
.ylogo{

    position: absolute;
    top: 20px;
    right: 10%;
    z-index: 999;
}
#header svg{
    letter-spacing: 5px;
}
/* svg text {
    fill: #111;
    stroke: #c7b1b1;
    fill-opacity: 1;
    stroke-width: 0;
    stroke-dasharray: 100% 0;
    z-index: 11;
    animation: stroke-offset 3s ease-out;
} */
.ytitle{
    position: relative;
    top: 40%;
    left: 60px;
    z-index: 99;
}
.animated-text span.letter{
    letter-spacing: 1px;
    display: inline-block;
    font-size: 80px;
    font-family: 'Y_Spotlight';
    font-weight: 700;
    color: #000;
    margin: 10px;
    animation: 1s tilted forwards ease-in-out infinite;
    /* background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg, rgba(204,91,35,1) 0%, rgba(43,58,116,1) 100%); */
}
@keyframes tilted {
    0%{
        transform: rotateZ(-10deg);
    }
    50%{
        transform: rotateZ(10deg);
    }
    100%{
        transform: rotateZ(-10deg);
    }
}
.ytitle_b{
    text-shadow: 3px 3px 0 #f49b90, 6px 6px 0 #f28b7d,
    9px 9px #f07a6a, 12px 12px 0 #ee6352;
    font-family: 'Y_Spotlight';
    display: inline-block;
    font-weight: 700;
    font-size: 80px;
    margin: 0;
    color: #f6aca2;
    animation: shadows 1.2s ease-in infinite;
    background-image: none;
}
@keyframes shadows {
    0% {
        text-shadow: none;
    }
    10% {
        transform: translate(-3px, -3px);
        text-shadow: 3px 3px 0 #f49b90;
    }
    20% {
        transform: translate(-6px, -6px);
        text-shadow: 3px 3px 0 #f49b90,
        6px 6px 0 #f28b7d;
    }
    30% {
        transform: translate(-9px, -9px);
        text-shadow: 3px 3px 0 #f49b90,
        6px 6px 0 #f28b7d, 9px 9px #f07a6a;
    }
    40% {
        transform: translate(-12px, -12px);
        text-shadow: 3px 3px 0 #f49b90,
        6px 6px 0 #f28b7d, 9px 9px #f07a6a,
        12px 12px 0 #ee6352;
    }
    50% {
        transform: translate(-12px, -12px);
        text-shadow: 3px 3px 0 #f49b90,
        6px 6px 0 #f28b7d, 9px 9px #f07a6a,
        12px 12px 0 #ee6352;
    }
    60% {
        text-shadow: 3px 3px 0 #f49b90,
        6px 6px 0 #f28b7d, 9px 9px #f07a6a,
        12px 12px 0 #ee6352;
    }
    70% {
        text-shadow: 3px 3px 0 #f49b90,
        6px 6px 0 #f28b7d, 9px 9px #f07a6a;
    }
    80% {
        text-shadow: 3px 3px 0 #f49b90,
        6px 6px 0 #f28b7d;
    }
    90% {
        text-shadow: 3px 3px 0 #f49b90;
    }
    100% {
        text-shadow: none;
    }
}



@keyframes stroke-offset {
    0% {
        fill-opacity: 0;
        stroke-width: 0;
        stroke-dasharray: 0% 100%;
    }
    25% {
        stroke-width: 1px;
    }
    50% {
        fill-opacity: 0;
    }
    75% {
        stroke-width: 1px;
    }
    100% {
        stroke-width: 0;
    }
}


section{
    height: 100%;
}

.ellipses-container {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    left: -150px;
    top: 0px;
    z-index: 10;
}


.ellipses {
    border-radius: 50%;
    position: absolute;
    top: 0;
    border-style: solid;
}

.ellipses__outer--thin {
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-color: rgba(9, 56, 62, 0.1);
    animation: ellipsesOrbit 15s ease-in-out infinite;
}

.ellipses__outer--thin:after {
    content: "";
    background-image: url('https://s29.postimg.org/5h0r4ftkn/ellipses_dial.png');
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.15;
}

.ellipses__outer--thick {
    width: 99.8%;
    height: 99.8%;
    border-color: #09383Eaa transparent;
    border-width: 2px;
    transform: rotate(-45deg);
    animation: ellipsesRotate 15s ease-in-out infinite;
}

.ellipses__orbit {
    width: 30px;
    height: 30px;
    border-width: 2px;
    border-color: #09383E;
    top: 45px;
    right: 72px;
}
.ellipses__orbit:before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    background-color: #09383E;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes ellipsesRotate {
    0% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(-405deg);
    }
}

@keyframes ellipsesOrbit {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* 네브 */

.youter nav {
	padding-top: 30px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	background-color: #333;
	text-align: center;
	transform: translateX(-100%);
}
.yinner {
	transform: translateX(0);
	transition: transform .5s cubic-bezier(.55,.07,1,.02);
}
.yopen {
    transform: translateX(100%);
}

.fa-times {
	position: absolute;
	top: 35px;
	left: 5%;
	font-size: 36px;
	color: #F06060;
	cursor: pointer;
	z-index: 9999;
}
.fa-bars {
	font-size: 36px;
	position: absolute;
	top: 30px;
	left: 5%;
	cursor: pointer;
}
.outer {
	overflow: hidden;
	position: relative;
}
#nav{
    gap: 30px;
    position: relative;
    display: flex;
	flex-direction: column;
    text-align: start;
    width: 300px;
    margin: 0 auto;
}
#nav li{
    position: relative;
}
.nav-link {
	font-size: 46px;
	letter-spacing: 4px;
	display: block;
	font-family: 'Mochiy Pop One', sans-serif;
	padding: 5px 0;
	margin: 25px 0;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
.nav-link::before{
    content: attr(data-text);
	position: absolute;
	color: var(--clr);
	width: 0;
	overflow: hidden;
	transition: 1s;
	border-right: 8px solid var(--clr);
	-webkit-text-stroke: 1px var(--clr);
}
.nav-link:hover::before {
	width: 140%;
	filter: drop-shadow(0 0 50px var(--clr))
}